<% content_for(:back_button) { link_to "Back", competitions_path, data: { icon: "back" } } %>

<% content_for(:title) { "Past competitions" } %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/?desktop=1" } %>

<script id="competition-template" type="text/x-handlebars-template">
  <a href="/competitions/{{id}}/events">{{name}}</a>
</script>

<script id="competition-empty-template" type="text/x-handlebars-template">
  <em class="muted">{{name}}</em>
</script>

<script id="competition-past-link-template" type="text/x-handlebars-template">
  <a href="/competitions/past"><em>{{name}}</em></a>
</script>

<script id="competition-separator-template" type="text/x-handlebars-template">
  {{name}}
</script>

<div id="competitions-region" class="past">
  <div style="height: 2000px"></div>
</div>
