<% content_for(:back_button) { link_to "Back", competitions_path, data: { icon: "back" } } %>
<% content_for(:title) { "Past competitions" } %>

<% cache [@competitions, "past"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <%= content_tag :ul, data: { role: "listview", filter: "true", generated_at: Time.now.to_s(:db) } do %>
    <li data-role="list-divider">Past competitions</li>
    <% @competitions.past.each do |competition| %>
      <li><%= link_to competition.name, competition_categories_path(competition) %></li>
    <% end %>
    <% if @competitions.past.empty? %>
      <li><em class="muted">No past competitions (yet!)</em></li>
    <% end %>
  <% end %>
<% end %>
