<div data-role="header">
  <h2>#{{position}}</h2>
</div>

<div data-role="content" class="ui-content">
  <p>
    <strong>Name</strong><br/>
    {{name}}<br/>
    <a href="/competitions/{{competition_id}}/competitors/{{competitor_id}}">All results</a>
  </p>
  <p>
    <strong>Country</strong><br/>
    {{country}}
  </p>
  <p>
    <strong>Times</strong><br/>
    {{joinTimes this}}
  </p>
  {{#if hasAverage}}
    <p>
      <strong>Average</strong><br/>
      {{#if average_record}}
        {{formatRecord average_record}}
      {{/if}}
      {{#if average}}
        {{average}}
      {{else}}
        -
      {{/if}}
    </p>
  {{/if}}
  {{#if hasMean}}
    <p>
      <strong>Mean</strong><br/>
      {{#if mean_record}}
        {{formatRecord mean_record}}
      {{/if}}
      {{#if mean}}
        {{mean}}
      {{else}}
        -
      {{/if}}
    </p>
  {{/if}}
  {{#if hasBest}}
    <p>
      <strong>Best</strong><br/>
      {{#if best_record}}
        {{formatRecord best_record}}
      {{/if}}
      {{#if best}}
        {{best}}
      {{else}}
        -
      {{/if}}
    </p>
  {{/if}}
</div>
