<td class="number {{#if top_position}}top-position{{/if}}">{{position}}</td>
<td><a href="/competitions/{{competition_id}}/competitors/{{competitor_id}}" class="more-info">{{name}}</a></td>
<td>{{country}}</td>
{{#if hasT1}}
  <td class="number">{{t1}}</td>
{{/if}}
{{#if hasT2}}
  <td class="number">{{t2}}</td>
{{/if}}
{{#if hasT3}}
  <td class="number">{{t3}}</td>
{{/if}}
{{#if hasT4}}
  <td class="number">{{t4}}</td>
{{/if}}
{{#if hasT5}}
  <td class="number">{{t5}}</td>
{{/if}}
{{#if hasAverage}}
  <td class="number">
    {{#if average_record}}
      {{formatRecord average_record}}
    {{/if}}
    {{average}}
  </td>
{{/if}}
{{#if hasMean}}
  <td class="number">
    {{#if mean_record}}
      {{formatRecord mean_record}}
    {{/if}}
    {{mean}}
  </td>
{{/if}}
{{#if hasBest}}
  <td class="number">
    {{#if best_record}}
      {{formatRecord best_record}}
    {{/if}}
    {{best}}
  </td>
{{/if}}
