<% content_for(:back_button) { link_to "Back", competition_categories_path(@round.competition_id), data: { icon: "back" } } %>
<% content_for(:title) { "Results" } %>

<% content_for(:extra_pages) do %>
  <% cache [@round, "results", "extra_pages"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
    <%= render partial: "extra_page", collection: @round.results, as: :result, locals: { round: @round } %>
  <% end %>
<% end %>

<table id="results" class="table-stripe" data-role="table" data-mode="columntoggle">
  <thead>
    <tr>
      <th class="number">#</th>
      <th>Name</th>
      <th data-priority="3">Country</th>
      <% (1..5).each do |i| %>
        <% if @round.send("t#{i}?") %>
          <th class="number" data-priority="2">T<%= i %></th>
        <% end %>
      <% end %>
      <% if @round.average? %>
        <th class="number" data-priority="1">Average</th>
      <% end %>
      <% if @round.mean? %>
        <th class="number" data-priority="1">Mean</th>
      <% end %>
      <% if @round.best? %>
        <th class="number" data-priority="1">Best</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% cache [@round, "results"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
      <%= render partial: "row", collection: @round.results, as: :result, locals: { round: @round } %>
    <% end %>
  </tbody>
</table>
