<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>There are new records!</title>
  </head>
  <body>
    <% @publisher.for_each_record do |description, url| %>
      <p>
        <%= description %> <%= url %>
        <a href="https://twitter.com/intent/tweet?text=<%= description %>&url=<%= url %>">tweet</a>
      </p>
    <% end %>
  </body>
</html>
