<h2>
  {{name}}
  {{eventLabels this}}
</h2>
<ul data-role="listview">
  {{#each rounds}}
    <li>
      {{#ifRoundIsSetup this}}
        <a href="/competitions/{{../competition_id}}/events/{{event_id}}/rounds/{{id}}/results">
          {{name}}
          {{roundLabels this}}
        </a>
      {{else}}
        <em class="muted">{{name}}</em>
      {{/ifRoundIsSetup}}
    </li>
  {{/each}}
</ul>
