.results-table {
  font-size: .8em;
}
@media screen and (min-width: 240px) {
  .results-table th.ui-table-priority-1,
  .results-table td.ui-table-priority-1 {
    display: table-cell;
  }
}
@media screen and (min-width: 480px) {
  .results-table th.ui-table-priority-2,
  .results-table td.ui-table-priority-2 {
    display: table-cell;
  }
}
@media screen and (min-width: 600px) {
  .results-table th.ui-table-priority-3,
  .results-table td.ui-table-priority-3 {
    display: table-cell;
  }
}
@media screen and (min-width: 960px) {
  .results-table {
    font-size: 1em;
  }
}
.results-table.ui-table td.number,
.results-table.ui-table th.number {
  text-align: right;
  white-space: nowrap;
}
.ui-table-columntoggle-btn {
  display: none !important;
}
