@media screen and (min-width: 240px) {
   #results th.ui-table-priority-1,
   #results td.ui-table-priority-1 {
     display: table-cell;
   }
}
@media screen and (min-width: 480px) {
   #results th.ui-table-priority-2,
   #results td.ui-table-priority-2 {
     display: table-cell;
   }
}
@media screen and (min-width: 600px) {
   #results th.ui-table-priority-3,
   #results td.ui-table-priority-3 {
     display: table-cell;
   }
}
#results {
  font-size: .8em;
}
#results.ui-table td.number,
#results.ui-table th.number {
  text-align: right;
}
.ui-table-columntoggle-btn {
  display: none !important;
}
