<% content_for(:title) { "Categories" } %>

<div data-role="collapsible-set">
  <% @categories.each do |category| %>
    <div data-role="collapsible" data-theme="b" data-content-theme="c">
      <h2><%= category.name %></h2>
      <ul data-role="listview">
        <% category.rounds.each do |round| %>
          <li><%= link_to round.name, competition_category_round_results_path(@competition, category, round) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
