<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { icon: "back" } %>
<% end %>
<% content_for(:title) do %>
  <% cache [@competition, "name"] do %>
    <%= @competition.name %>
  <% end %>
<% end %>

<% cache [@competition, "categories"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <% if @competition.categories.any? %>
    <%= content_tag :div, data: { role: "collapsible-set", inset: false, generated_at: Time.now.to_s(:db) } do %>
      <% render partial: "category", collection: @competition.categories, locals: { competition: @competition } %>
    <% end %>
  <% else %>
    <p>No available categories (yet!)</p>
  <% end %>
<% end %>
